<form action="/users/insertData" method="post">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="playerName" name="playerName" aria-describedby="playerName">
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <input type="number" class="form-control" id="Age" name="Age" aria-describedby="Age">
      </div>
      <div class="form-group">
        <label for="profilePic">profilePic</label>
        <input type="text" class="form-control" id="profilePic" name = "profilePic" aria-describedby="profilePic">
      </div>
      <div class="form-group">
        <label for="info">info</label>
        <input type="text" class="form-control" id="info" name = "info" aria-describedby="info">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>