<form name="loginReg" action="/users/login" method="post">
    <!-- Email input -->
    <div class="form-outline mb-4">
    <label class="form-label" for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control" required/>
      
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
    <label class="form-label" for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" required/>
    
    </div>
    <!-- Submit button -->
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>